@media only screen and (max-width: 940px) {
  .container > .row > .span12 > .well.well-gray.pad {
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: none;
    background: #AAA;
    border-color: #AAA;
  }
  #cont_propios,
  #cont_comunes {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    column-gap: 8px;
  }
  #propias div,
  #comunes div {
    float: unset;
  }
  #propias div[style="clear:both;"],
  #comunes div[style="clear:both;"] {
    display: none;
  }
  #paginador_propios,
  #paginador_comunes {
    width: auto !important;
    float: none;
  }
  .pagination {
    height: auto;
  }
}
