/* https://www.epublibre.org/inicio/sobrecarga */
@media only screen and (max-width: 940px) {
  .ali_centro.alert.alert-success:has(form[name="form_acceso"]) {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .ali_centro.alert.alert-success:has(form[name="form_acceso"]) {
    margin: 10px 10px 30px;
    float: none !important;
  }

  .ali_centro.alert.alert-success:has(form[name="form_acceso"]) table {
    width: 100%;
  }

  .ali_centro.alert.alert-success:has(form[name="form_acceso"]) table td.ali_centro.alert-info {
    text-align: center;
  }

  .ali_centro.alert.alert-success:has(form[name="form_acceso"]) table td {
    text-align: left;
  }

  .ali_centro.alert.alert-success:has(form[name="form_acceso"]) input[type="text"],
  .ali_centro.alert.alert-success:has(form[name="form_acceso"]) input[type="password"] {
    width: 90% !important;
  }

  div table[align="center"] {
    margin: 0 10px;
  }

  div table[align="center"] .txt_grande.txt_azul.margen_t_10 {
    text-wrap: balance;
  }
}