@media only screen and (max-width: 810px) {
  #contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0 1rem;
  }
  
  #contenido:before,
  #contenido:after {
    content: none;
  }
  
  #contenido > div {
    padding: 0;
    width: unset;
    margin: 0;
  }
  
  #contenido div:last-child {
    flex-basis: 100%;
    padding-top: .5rem;
    margin: 0;
  }
  
  .well_black.pad_bus .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .well_black.pad_bus .row:before,
  .well_black.pad_bus .row:after {
    content: none;
  }
}
@media only screen and (max-width: 450px) {
    #contenido {
    flex-direction: column;
  }
  
   .well_black.pad_bus .row {
    justify-content: left;
  }
  
  .well_black.pad_bus .row > div {
    width: unset;
  }
}